@model Product

<div class="card">
  <div class="card-header text-center">
    @Model.Name
  </div>
  <div class="p-3">
    <img src="~/images/@Model.ImageUrl" class="card-img-top" height="200">
  </div>

  <div class="card-body">
    <div class="card-text">
      <div class="text-danger text-center lead p-2 rounded-2">
          @Model.Price.ToString("C")
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="btn-group" role="group">
        <a class="btn btn-outline-secondary rounded-2" asp-action="Get" asp-controller="Product" asp-route-id="@Model.Id" title="Get Details">
        <i class="fa-solid fa-arrow-right"></i>
        </a>
        <form id="@Model.Id" asp-page="/cart" method="post">
          <input type="hidden" asp-for="Id" />
          <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
          <button type="submit" class="btn btn-outline-secondary mx-1" title="Add to cart">
            <i class="fa fa-cart-plus"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>